/* videoStyles.css */

/* temporary capture button. 1w button will be used eventually */
#capture-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    transition: background-color 0.3s;
}

#capture-button:hover {
    background-color: #e0e0e0;
}

#capture-button:mouseout {
    background-color: #f0f0f0;
}


#video-container canvas {
    position: absolute;
    /* top: 0;
    left: 0; */
    /* aspect-ratio: 0.5; */
}



/* Simulated fullscreen styles */
.simulated-fullscreen {
    position: fixed;
    /* Fixed positioning to cover the screen */
    top: 0;
    left: 0;
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    z-index: 9999;
    /* High z-index to ensure it is on top */
    background: black;
    pointer-events: none;
}

.simulated-fullscreen video,
.simulated-fullscreen canvas {
    width: 100%;
    height: 100%;
}

#overlayCanvas {
    pointer-events: none;
    /* Allows clicks to pass through to the video */
}


.body-no-scroll {
    overflow: hidden;
    /* Prevents scrolling on the body */
}